.page-header{
    background-color: darkblue;
    color: #ff5000;
    margin: 0;
    text-align: center;
    padding: 30px;
    letter-spacing: 20px;
}
.song-form{
    display: flex;
    background-color: darkblue;
    padding: 10px;
    justify-content: space-between;
}
.add-btn{
   width: 10%;
   display: inline-block;
   outline: none;
   cursor: pointer;
   font-weight: 600;
   border-radius: 3px;
   padding: 6px 12px;
   border: 0;
   color: #000021;
   background: #1de9b6;
   line-height: 1.15;
   font-size: 16px;
}
.add-btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.delete-btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    margin-left: 15px;
    padding: 6px 24px;
    border: 0;
    color: #fff;
    background: #ff5000;
    line-height: 1.15;
    font-size: 16px;
}
.delete-btn:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #ff5000;
}
.input-selection{
    width: 20%;
    border: 2px solid #ff5000;
    border-radius: 3px;
}
.main{
    display: flex;
    flex-direction: row;

}
.filters{
    box-sizing:border-box;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 3px solid #ff5000;
    border-bottom: 3px solid #ff5000;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.list{
    width: 100%;
    background-color: #ff5000;
    border: 1px solid white;
}
.song-table{
    width: 200px;
    text-align: center;
}
.song-header{
    max-height: 40px;
    background-color: darkblue;
    color: white;
}
.song-row__item{
    width: 200px;
    text-align: center;
    border-left: 1px dotted #ff5000;
}
.song-row__item:nth-child(1){
    border: none;
}
.navigation{
        margin: auto;
        width: 100%;
        padding: 3px;
        text-align: center;
        background-color: darkblue;
}
.navigation a{
    text-decoration: none;
    color: white;
    padding: 30px;
    letter-spacing: 10px;
}

.text-box h1{
    background-color: darkblue;
    color: #ff5000;
    margin: 0;
    text-align: center;
    padding: 30px;
}
.text-box p{
    padding: 30px 260px;
}