.page-header{
    background-color: darkblue;
    color: darkorange;
    margin: 0;
    text-align: center;
    padding: 30px;
}
.song-form{
    display: flex;
    background-color: darkblue;
    padding: 10px;
    justify-content: space-between;
}
.add-btn{
   width: 10%;
    border-radius: 20px;
    border: 2px white solid;
    background-color: darkorange;
    color: white;
}
.filter{
    width: 100%;
    padding-bottom: 15px;
    background-color: darkblue;
    align-items: center;
    
}
.filter label{
    color: white;
    padding: 25px;
}
.input-selection{
    width: 20%;
    border: 2px solid darkorange;
    border-radius: 10px;
}

.list{
    width: 100%;
    background-color: darkorange;
    border: 1px solid white;
}
.song-table{
    width: 200px;
    text-align: center;
}

.song-row__item{
    width: 200px;
    text-align: center;
    border-left: 1px dotted darkorange;
}
